  .box-content {
    width: 800px;
    margin-left: 14%;
    margin-top: 28px;
    padding: 0 auto;
  }

  h1 {
    font-size: 30px;
  }
  h4 {
    margin-left: 16%;
  }
  .content {
    padding: 63px;
  }
  table {
     border-collapse: collapse;
  }
  table, td, tr{
    padding: 7px;
    border: 1px solid black;

  }
  .red {
    color: red;
  }
  .strong{
     font-weight: bold;
  }
  .greenStrong {
    color: #5c954a;
  }
  .pinkStrong {
    color: #f455f2;
  }
  .blue {
    color: blue;
  }
  .underline {
    text-decoration: underline;
  }
  .cursive {
    font-style: italic;
  }
  .purple {
    color: purple;
  }
  .center {
    text-align: center;
  }
  .green{
    color: green;
  }

  .orange {
    color:orange;
  }

  .tabla {
    border: 2px;
    border-color: red;
  }
